<div
  class="container mx-auto px-2 py-10 sm:px-6 lg:px-8 flex flex-col md:flex-row flex-grow"
>
  <!-- Sección 1 -->
  <div class="w-full md:basis-7/12 flex flex-col">
    <div class="flex flex-row mx-auto space-x-4">
      <h1 class="text-6xl md:text-8xl font-bold text-center">InvoCa</h1>
      <img src="/images/hojalogo.svg" class="w-16 h-auto md:w-24" />
    </div>
    <div
      class="flex flex-col items-center justify-center space-y-6
              bg-[url('/images/hands.png')]
              bg-cover bg-center bg-no-repeat py-38 rounded-lg"
    >
      <h2 class="text-xl md:text-4xl font-bold text-center">
        One problem,<span class="text-white"> One solution</span>
      </h2>
      <button
        class="bg-linear-to-r from-green-600 to-lime-400 text-white rounded-full py-2 px-4 text-xl transition-all duration-300 ease-out
         hover:from-lime-400 hover:to-green-600 hover:scale-110 hover:shadow-xl hover:-translate-y-1
         active:scale-95 active:shadow-md"
        >Join the community</button
      >
      <button
        class="bg-linear-to-r from-green-600 to-lime-400 text-white rounded-full py-1 px-2 transition-all duration-300 ease-out
         hover:from-lime-400 hover:to-green-600 hover:scale-110 hover:shadow-xl hover:-translate-y-1
         active:scale-95 active:shadow-md"
        >How it works?</button
      >
    </div>
  </div>

  <!-- Sección 2 -->
  <div class="w-full md:basis-5/12">
    <h2 class="text-xl md:text-2xl text-lime-400 text-center">
      Where do you want to help?
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
      <div
        class="rounded-xl bg-[url('/images/img1.jpg')]
         bg-cover bg-center bg-no-repeat bg-black/30 bg-blend-overlay p-2 h-60 flex flex-col-reverse transition-all duration-500 ease-out
         hover:bg-black/60 hover:scale-105 hover:shadow-2xl hover:brightness-125"
      >
        <p class="text-white mx-auto text-xl">Farmer/Agriculture</p>
      </div>
      <div
        class="rounded-xl bg-[url('/images/img2.jpg')]
         bg-cover bg-center bg-no-repeat bg-black/30 bg-blend-overlay p-2 h-60 flex flex-col-reverse transition-all duration-500 ease-out
         hover:bg-black/60 hover:scale-105 hover:shadow-2xl hover:brightness-125"
      >
        <p class="text-white mx-auto text-xl">Community</p>
      </div>
      <div
        class="rounded-xl bg-[url('/images/img3.jpg')]
         bg-cover bg-center bg-no-repeat bg-black/30 bg-blend-overlay p-2 h-60 flex flex-col-reverse transition-all duration-500 ease-out
         hover:bg-black/60 hover:scale-105 hover:shadow-2xl hover:brightness-125"
      >
        <p class="text-white mx-auto text-xl">Clean cities</p>
      </div>
      <div
        class="rounded-xl bg-[url('/images/img4.jpg')]
         bg-cover bg-center bg-no-repeat bg-black/30 bg-blend-overlay p-2 h-60 flex flex-col-reverse transition-all duration-500 ease-out
         hover:bg-black/60 hover:scale-105 hover:shadow-2xl hover:brightness-125"
      >
        <p class="text-white mx-auto text-xl">Children</p>
      </div>
    </div>
  </div>
</div>
